<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/logotfg"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logotfg"
        android:supportsRtl="true"
        android:theme="@style/Theme.Android"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".controladores.misiones.NoTienesMision"
            android:exported="false" />
        <activity
            android:name=".controladores.tienda.Comprar"
            android:exported="false" />
        <activity
            android:name=".controladores.misiones.MisionCompleta"
            android:exported="false" />
        <activity
            android:name=".controladores.inventario.AjustesUsuario"
            android:exported="false" />
        <activity
            android:name=".controladores.ConsultarExperiencia"
            android:exported="false" />
        <activity
            android:name=".controladores.inventario.CambiarPersonaje"
            android:exported="false" />
        <activity
            android:name=".controladores.tienda.Tienda"
            android:exported="false" />
        <activity
            android:name=".controladores.misiones.AventurasPersonales"
            android:exported="false" />
        <activity
            android:name=".controladores.misiones.MisionTest"
            android:exported="false" />
        <activity
            android:name=".controladores.misiones.MisionCrono"
            android:exported="false" />
        <activity
            android:name=".controladores.misiones.MisionesDiarias"
            android:exported="false" />
        <activity
            android:name=".controladores.misiones.MainMisiones"
            android:exported="false" />
        <activity
            android:name=".controladores.inicio.CreadorPersonaje"
            android:exported="false" />
        <activity
            android:name=".controladores.Inicio_Personaje"
            android:exported="false" />
        <activity
            android:name=".controladores.misiones.MisionCorrer"
            android:exported="false" />
        <activity
            android:name=".controladores.inicio.Login"
            android:exported="false" />
        <activity
            android:name=".controladores.batallas.EsperaBatallasActivity"
            android:exported="false" />
        <activity
            android:name=".controladores.batallas.BatallaActivity"
            android:exported="false" />
        <activity
            android:name=".controladores.inventario.InventarioActivity"
            android:exported="false" />
        <activity android:name=".controladores.inicio.SignIn" />
        <activity
            android:name=".controladores.inicio.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>